[submodule "ipsec-vpn-server/armv6l"]
	path = ipsec-vpn-server/armv6l
	url = git@github.com:flochtililoch/docker-ipsec-vpn-server.git
[submodule "ipsec-vpn-server/armv7l"]
	path = ipsec-vpn-server/armv7l
	url = git@github.com:flochtililoch/docker-ipsec-vpn-server.git
