[submodule "images/ipsec-vpn-server/armv6l"]
	path = images/ipsec-vpn-server/armv6l
	url = git@github.com:flochtililoch/docker-ipsec-vpn-server.git
[submodule "images/ipsec-vpn-server/armv7l"]
	path = images/ipsec-vpn-server/armv7l
	url = git@github.com:flochtililoch/docker-ipsec-vpn-server.git
